<div class="container">
  <h1>Stupid Coaching</h1><br>
  <%= @question %>
  <p><i>- You</i></p>

  <%= @answer %>
  <p><i>- Your Coach</i></p>
  <br>
  <br>
  <%= link_to "Ask another question", ask_path%>
</div>
