<div class="container m-4">
  <h2>Stupid Coaching</h2>

  <form action="answer" data-turbo="false">
    <p>Ask your coach anything</p>

    <div class="input-group">
      <input type="text" id="ask" name="ask" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
